<h1>{{title}}</h1>


<h1> Page 1 : Statistiques artiste </h1>
<table class='table'>
  <table class='table'>
    <thead>
      <tr>
        <th>artistId</th>
        <th>Name</th>
        <th>le nombre maximum d'années consécutives avec 3 titres</th>
      </tr>
    </thead>
    <tbody>
    
        <tr *ngFor="let artistStatics of StatisticsDTO;">
          <td>{{artistStatics.artistsDTO.artistId}}</td> 
          <td>{{artistStatics.artistsDTO.name}}</td> 
        <td>{{artistStatics.bestYearCount}}</td> 
        </tr>
    </tbody>
  </table>

    <div class="form-group">
      <!--button type="button" (click)="getStatistics()">Statistics</button-->
      <button type="button" (click)="getStatist()">Statistics</button>
    </div>


    <h1> Page 2 :Cette page présentant le nom de l'artiste
       et la liste de ses albums 
    </h1>
    <label>Selectionner id de l artist: </label>
  
    <select></select>
    <select>
      <option></option>
      <option *ngFor="let a of ArtistsDTO;" value="artist.idartist">  
     {{a.name}}
      </option>
    </select>
</table>

